{block content}
    {include header, title => 'products to translate'}
    <div id='{$id}' props={$props}></div>
{/block}
{block footer}
    <script src='{$src}' type='text/javascript'></script>
{/block}