parameters:
	masala:
		assets: assets/components/masala
		tests:
			user: [id: 1, password: pass, username: username]
			parameters:
				date: '2017-4-12'
				id: 4574
				limit: 10
				property: 4
				producerId: 126
				status: translated
				type: inventure