{define row-actions}
        <a class="btn {$control}-edit"
           type="button"
           data-attribute="{$spice}"
           data-target="#{$control}-edit"
           data-toggle="modal"
           onclick="handleEdit({$offset}, {$spice})">
        </a>
        <a class="btn {$control}-remove" 
           data-confirm="{_'Do you really want to delete label?'}"
           href="javascript:;"
           onclick="handleRemove({$spice})"></a>
{/define}