{block css}
    {var rand = rand(1, 15)}
    <style>
        .modal{
            background: rgba( 255, 255, 255, .8 ) 
            url("{$basePath|noescape}/{$bower}/images/{php echo date('M', strtotime('now'));}/{$rand}.gif")
            50% 50% 
            no-repeat;
        }
    </style>
{/block}