{block widget}
<link rel="stylesheet" type="text/css" href="{$basePath}/{$bower}/css/widget.css" media="screen">
<div class="{$control->getName()}-widget">
    <div class="hole-widget"></div>
    <div class="builder-widget"></div>
    <div class="inside-widget">
        <p class="name-widget btn btn-primary">{_'nothing to edit'|firstUpper}</p>
            content
    </div>
</div>
<script type="text/javascript" src="{$basePath}/{$bower}/js/widget.js"></script>
{/block}

